In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
sales = pd.read_csv('Data_Set.csv', parse_dates= ['Date'])

In [7]:
sales.head()

,Date,Company,Ticker Symbol,Currency,Open,High,Low,Close,Adj Close,Volume
0,2000-01-01,Sony Interactive Entertainment,SONY,JPY,28.525000,29.168751,20.850000,25.299999,14.535083,147012000
1,2000-02-01,Sony Interactive Entertainment,SONY,JPY,25.293751,31.475000,25.000000,31.350000,18.010864,67437000
2,2000-03-01,Sony Interactive Entertainment,SONY,JPY,30.100000,31.299999,21.700001,28.012501,16.093437,112674000
3,2000-04-01,Sony Interactive Entertainment,SONY,JPY,28.250000,28.250000,22.312500,22.562500,12.974537,74071000
4,2000-05-01,Sony Interactive Entertainment,SONY,JPY,22.700001,23.481251,17.750000,18.237499,10.487453,65035500

In [ ]:
sales['Currency'].unique()

array(['JPY', 'HKD', 'USD', 'SEK'], dtype=object)

In [16]:
filtered_data_JPY = sales[sales['Currency'].isin(['JPY'])]
filtered_data_HKD = sales[sales['Currency'].isin(['HKD'])]
filtered_data_USD = sales[sales['Currency'].isin(['USD'])]
filtered_data_SEK = sales[sales['Currency'].isin(['SEK'])]

In [18]:
result_JPY = filtered_data_JPY[['Open', 'High', 'Low', 'Close', 'Adj Close']]
result_HKD = filtered_data_HKD[['Open', 'High', 'Low', 'Close', 'Adj Close']]
result_USD = filtered_data_USD[['Open', 'High', 'Low', 'Close', 'Adj Close']]
result_SEK = filtered_data_SEK[['Open', 'High', 'Low', 'Close', 'Adj Close']]

In [21]:
result_JPY = result_JPY*0.565
print(result_JPY)

         Open      High       Low     Close  Adj Close
0    5.144572  5.260675  3.760362  4.562933   2.621447
1    4.561807  5.676614  4.508828  5.654070   3.248315
2    5.428629  5.645052  3.913663  5.052142   2.902501
3    5.094975  5.094975  4.024129  4.069217   2.339998
4    4.094016  4.234917  3.201268  3.289190   1.891445
..        ...       ...       ...       ...        ...
293  2.998551  3.155819  2.860400  3.064199   3.064199
294  3.070331  3.479733  3.066724  3.195496   3.195496
295  3.128405  3.524821  2.877714  3.519050   3.519050
296  3.477569  3.561613  3.237699  3.483340   3.483340
297  3.494522  3.513639  3.141751  3.174215   3.174215

[298 rows x 5 columns]

In [22]:
result_HKD = result_HKD*10.89
print(result_HKD)

             Open          High           Low         Close     Adj Close
298     94.019344     97.299123     73.794290     84.180109     79.460462
299     84.180109     88.553080     73.794290     80.353741     75.848621
300     80.353741     86.913184     75.434066     83.086809     78.428441
301     83.086809    104.951873     83.086809    100.578788     94.939717
302     99.485609    132.283080     96.752413    129.003302    121.770542
..            ...           ...           ...           ...           ...
537  43499.580833  46488.103200  43475.864583  44163.697317  44163.697317
538  43523.300700  47104.783567  41625.827100  42954.060067  42954.060067
539  43143.804533  45729.114483  41388.642900  45302.182200  45302.182200
540  45064.998000  54244.025817  43286.116500  52726.048383  52726.048383
541  53366.445000  57208.828317  47982.364383  47982.364383  47982.364383

[244 rows x 5 columns]

In [23]:
result_USD = result_USD*84.66 
print(result_USD)

               Open           High            Low          Close  \
542   420631.834275  425111.406525  339999.533775  350750.507175
543   352990.293300  394202.358000  315809.843625  320289.415875
544   321185.330325  412120.647000  318721.565587  380763.641250
545   338431.683487  345822.977700  232937.757000  249960.131550
546   261159.062175  265190.677200  216363.339675  224202.591112
...             ...            ...            ...            ...
2204   62785.686297   65007.550306   55044.982575   56406.772955
2205   56335.101576   58055.259091   51819.691924   54686.618845
2206   54973.311197   57732.729344   47375.957076   54256.580325
2207   53683.192203   59882.918555   51246.307221   56765.140097
2208   56836.811475   57768.566746   52464.751425   56120.080603

          Adj Close
542   216270.666858
543   197488.548254
544   234776.421297
545   154123.888325
546   138241.994737
...             ...
2204   55030.170515
2205   54018.893547
2206   53594.107938
2207   56072.035385
2208   56120.080603

[1572 rows x 5 columns]

In [24]:
result_SEK = result_SEK*7.73
print(result_SEK)

             Open         High          Low        Close    Adj Close
2026   307.727441   333.620339   269.883888   330.632683   330.632683
2027   330.632683   341.587385   290.797397   299.760338   299.760338
2028   300.756233   422.253794   291.793321   382.418566   382.418566
2029   382.418566   406.319731   349.554459   391.381506   391.381506
2030   391.381506   478.023200   363.496789   453.126139   453.126139
...           ...          ...          ...          ...          ...
2116  1566.123454  1593.012305  1324.124255  1391.645096  1391.645096
2117  1408.973377  1670.093600  1374.316700  1636.631895  1636.631895
2118  1628.266525  1641.412122  1238.080047  1443.630055  1443.630055
2119  1440.044913  1622.291212  1356.390875  1576.878995  1576.878995
2120  1579.866708  1904.324973  1551.782772  1835.011504  1835.011504

[95 rows x 5 columns]

In [25]:
sales.loc[sales['Currency'] == 'JPY', ['Open', 'High', 'Low', 'Close', 'Adj Close']] = result_JPY

sales.loc[sales['Currency'] == 'HKD', ['Open', 'High', 'Low', 'Close', 'Adj Close']] = result_HKD

sales.loc[sales['Currency'] == 'USD', ['Open', 'High', 'Low', 'Close', 'Adj Close']] = result_USD

sales.loc[sales['Currency'] == 'SEK', ['Open', 'High', 'Low', 'Close', 'Adj Close']] = result_SEK

In [27]:
sales = sales.drop(['Currency', 'Adj Close'], axis = 1).copy()

In [ ]:
sales.to_csv('Data_Set.csv', index=False)